.rates {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.rates_title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.rates_body {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rates_buttons {
  display: flex;
  flex-direction: column;
}

.rates_button {
  border: none;
  padding: 20px 30px 20px 30px;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid black;
}

.rates_button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.5s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .rates {
    border: 1px solid black;
    padding: 30px;
  }

  .rates_button {
    font-size: 20px;
  }

  .rates_title {
    font-size: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .rates {
    border: 1px solid black;
    padding: 30px;
  }

  .rates_title {
    font-size: 40px;
  }

  .rates_body {
    font-size: 25px;
  }

  .rates_button {
    font-size: 25px;
  }
}
