.rates {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
}

.rates_title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px;

}

.rates_body {
  font-size: 20px;
  padding: 20px;
}

.rates_buttons {
  display: flex;
}

.rates_button {
  border: none;
  padding: 20px;
  margin: 20px;
  border: 1px solid green;
}

.rates_button:hover {
  cursor: pointer;

}