.home_container {
  display: flex;
  flex-direction: column;
  background-color: #131923;
  align-items: center;
  height: 100vh;
  justify-content: center;

}

.home_button {
  background-color: #131923;
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  border: 1px solid white;
  color: white;
}

.home_button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: orange;
  border: 1px solid orange;
}

.home_title {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
